.cardP{
    width: 270px;
    height: 430px;
    background-color: aquamarine;
    border-radius: 12px;
    margin:15px
}
h2{
    margin: 0;
}
img{
    width: 200px;
    margin: 0;
}
p{
    margin: 0;
}