.cardP{
    width: 230px;
    height: 280px;
    background-color: aquamarine;
    border-radius: 12px;
    margin:10px
}
h2{
    margin: 0;
}
h3{
    margin: 0;
}
.cardP img{
    object-fit: none;
    width: 230px;
    height: 90px;
    margin: 0;
}
p{
    margin: 0;
}